﻿@model IEnumerable<MvcMusicStore.Models.Genre>
@{
    ViewBag.Title = "Store";
}
<h3>Browse Genres</h3>
<p>
    Select from @Model.Count()
    genres:
</p>

<ul>
    <li>
        <a href="/Store/Browse?genre=Disco">Disco</a>
    </li>
    <li>
        <a href="/Store/Browse?genre=Jazz">Jazz</a>
    </li>
    <li>
        <a href="/Store/Browse?genre=Rock">Rock</a>
    </li>
</ul>